/* StudentSearch.css */
.KHJ-class-search-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.KHJ-class-result-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
}

.KHJ-class-results h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.KHJ-search-section {
  margin-bottom: 20px;
}

.KHJ-search-section label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.KHJ-search-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.KHJ-search-input-container input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.KHJ-search-input-container button {
  padding: 8px 16px;
  border: none;
  background-color: #ffbf00;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.KHJ-search-input-container button:hover {
  background-color: #e0a800;
}

.KHJ-student-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.KHJ-student-info {
  cursor: pointer;
}

.KHJ-student-details {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  color: #777;
}

.KHJ-student-name {
  font-size: 1rem;
  font-weight: bold;
}

.KHJ-dropdown-classes {
  background-color: #fafafa;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.KHJ-class-item {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.KHJ-class-info {
  font-size: 0.9rem;
  color: #333;
}

.KHJ-attendance-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.KHJ-attendance-button:hover {
  background-color: #218838;
}

.KHJ-subclass-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.KHJ-subclass-table th,
.KHJ-subclass-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.KHJ-subclass-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.KHJ-subclass-table tr:nth-child(even) {
  background-color: #fafafa;
}