.couponContent {
  padding: 2rem 2rem 2rem 2rem;  
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.sidebarArea {
  width: 240px;
}

.sidebar {
  background: #fff4e6;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.couponList {
  width: 78%;
}

.couponBox {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.2rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
}

.couponHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.usedBadge {
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ddd;
  color: #666;
}

.notUsedBadge {
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ff8342;
  color: #fff;
}

.couponType {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.couponDate {
  font-size: 0.9rem;
  color: #999;
}
